body {
	margin: 3rem 10vw 18vw 25vw;
	font-size: 1.2rem;
	font-family: "Trebuchet MS";
	text-align: center;
}
h1, h2 {
	color: rgb(0,40,80);
	text-align: center;
	width: 14rem;
	padding: 0.7rem;
	position: relative;
  	background: rgb(235, 235, 235);
	border-radius: 10px;
	margin: 2rem auto;
	box-shadow: 5px -3px 10px rgb(0, 0, 0, 0.5);
	overflow: hidden;
}
.grid > * {
	padding: 0.8rem;	
	align-self: center;

}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	max-width: 30rem;
	margin: 0 auto;
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
}
.imageWrap {
	margin: 0 auto;
	position: relative;
	width: 0; height: 1px;
}
.ingredientsDing {
	position: relative;
	width: 57px;
	top: -160px;
	left: 80px;
	transform: rotateZ(20deg);
}
.ingredientList {
	font-weight: 700;
}
img {
	width: 250px;
}
@media screen and (max-width: 640px) {
	img {
		width: 120px;
	}
}
